/* CSS declarations go here */
.songList {
	list-style: none;
}
body {
	background-color: #E5FFF2;
}

#navcontainer{
	border: 1px solid black;
}

#navcontainer ul
{
list-style-type: none;
text-align: left;
}

#navcontainer ul li 
{
text-align: left;
font: normal 15px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
text-decoration: none;
color: black;
}

#navcontainer ul li a:hover
{
color: black;
}

#navcontainer ul li #selected
{
color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

.inline {
	display: inline-block;
}

#inputAudio{
	display: inline;
}
#submitAudio{
	display: inline;
}

li{
	max-width: 600px;
}

.selected {
    font-weight: bold;
}

li { background: white; }
li:nth-child(odd) { background: #e3e3e3; }