/* CSS declarations go here */
.songList {
	list-style: none;
	padding-top: 50px;
}
body {
	background-color: #E5FFF2;
}

#navcontainer ul
{
list-style-type: none;
text-align: left;
}
ul, ol {
	margin-top:30px;
	margin-bottom: 10px;
}

#navcontainer ul li 
{
text-align: left;
font: normal 15px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
text-decoration: none;
color: black;
}

#navcontainer ul li a:hover
{
color: black;
}

#navcontainer ul li #selected
{
color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

.inline {
	display: inline-block;
}

#inputAudio{
	display: inline;
}
#submitAudio{
	display: inline;
	padding-right: 15px;

}

li{
	max-width: 600px;
}

li { background: white; }
li:nth-child(odd) { background: transparent; }

#logotext {
	width: 500px;
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

#shark {
	width: 150px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

#player {
	padding-bottom: 10px;
}

.pushdown {
	padding-top: 0px;
}
test{
margin-top: 65px;	
}

.pushdown2 {
	padding-top: 0px;
}

#songList {
	margin-top: 65px;
}

.align {
	padding-top: 61px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: inline;
}

span{
	float: left;
}

#smallText {
	display: inline;
	font-size: 12px;
	font-style: italic;
	padding-left: 5px;
}

.totalPlays {
	display: inline;
	float: right;
}

audio {
	display: table;
  margin: 0 auto;
}

li.selected {
	background-color: #ffe5f2;
	color: white;
}

.test{

 overflow-y: scroll;
 width:300px;
 height: 200px

}
.test4{

margin-top:5px!important; 

}