/* CSS declarations go here */
.songList {
	list-style: none;
}
body {
	background-color: #E5FFF2;
}

#navcontainer ul
{
list-style-type: none;
text-align: left;
}

#navcontainer ul li 
{
text-align: left;
font: normal 15px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
text-decoration: none;
color: black;
}

#navcontainer ul li a:hover
{
color: black;
}

#navcontainer ul li #selected
{
color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

.inline {
	display: inline-block;
}

#inputAudio{
	display: inline;
}
#submitAudio{
	display: inline;
}

li{
	max-width: 600px;
}

li { background: white; }
li:nth-child(odd) { background: #e3e3e3; }

#logotext {
	width: 500px;
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

#shark {
	width: 150px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

#player {
	padding-bottom: 10px;
}

.pushdown {
	padding-top: 26px;
}

.selected {
	font-weight: bold;
}